h1{
    text-align: center;
}
.title {
  text-align: center;
  background-color: #6cc4a1;
  color: white;
  padding: 10px;
  border-radius: 15px;
}

.review {
  width: 60%;
  margin: 20px auto;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 15px;
}

.name {
  font-weight: bold;
  font-size: 18px;
}

.stars {
  color: gold;
  font-size: 22px;
  margin: 5px 0;
}

.text {
  font-size: 16px;
}
.form input,
.form textarea {
  width: 90%;
  margin: 8px 0;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.rating span {
  font-size: 30px;
  cursor: pointer;
}

.rating span:hover {
  color: gold;
}

button {
  padding: 8px 20px;
  border: none;
  background-color: #7cc6a3;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.icon{
    width: 300px;
    height: 500px;
}
body{
    background-color: #6cc4a1;
}
